* {
	color: white;
}

html {
	
}

body {
	background-color: #02c39a;
}

.body {
	margin: 20px;
	padding: 0px;
}

.body * {
}

.grid {
	min-height: 100px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
	margin-top: 20px;
}

.full {
	grid-column: 1/3;
}

.title {
	text-align: center;
}

.break {
	min-height: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #f4f197;
}

h1, h2 {
	font-family: Permanent Marker;
	text-shadow: 4px 4px #46746b;
}

p, li, h3, a {
	text-shadow: 1px 1px #46746b;
}

.text {
	padding: 40px;
	margin: 0;
	text-align: center;
	list-style: circle;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.text p {
	text-align: justify;
	font-size: 1.5em;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
}

li {
	text-align: justify;
	font-size: 1.5em;
	margin-left: 20px;
	list-style: circle;
}

h3 {
	font-size: 1.8em;
	font-family: Open Sans;
	font-weight: inherit;
	text-align: left;
}

.image {
	padding: 0;
	margin: 0;
	
	display: grid;
	grid-column: repeat(2, 1fr);
	grid-row: repeat(2, 1fr);
	grid-gap: 20px;
}

.full {
	grid-column: 1/3;
	grid-row: 1/3;
}

.full-image {
	padding: 0;
	margin: 0;
}

.one {
	background-image: url(images/cases/awkwords/awk1.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}