* {
	color: white;
}

html {
	
}

body {
}

.body {
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 0px;
}

.title {
	text-align: center;
	margin-bottom: 5vh;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
	grid-gap: 20px;
}

.break {
	border: 1px solid white;
	margin-top: 10vh;
	margin-bottom: 10vh;
	margin-left: 20vw;
	margin-right: 20vw;
}

.text {
	padding: 40px;
	margin: 0;
	text-align: center;
	list-style: circle;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.text p {
	text-align: justify;
	font-size: 1.5em;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
}

li {
	text-align: justify;
	font-size: 1.5em;
	margin-left: 20px;
	list-style: circle;
}

h3 {
	font-size: 1.8em;
	font-family: Open Sans;
	font-weight: inherit;
	text-align: left;
}

.image {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	grid-gap: 20px;
}

.square {
	width: 100%;
	border-radius: 25px;
}

.center {
	padding-left: 10%;
	padding-right: 10%;
}

/*---------------SLIDESHOW---------------*/

 * {
	 box-sizing:border-box;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}