.body * {
}

.body {
	margin-left: 150px;
	margin-right: 150px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.grid {
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 20px;
}

.square {
	width: 100%;
	border-radius: 25px;
	transition: 0.2s ease;
}

.title {
	text-align: center;
}

.container {
	text-align: center;
	padding: 20px;
	padding-left: 200px;
	padding-right: 200px;
}

.square:hover {
	transform: scale(1.05);
}
